.progress {
  margin: 3rem auto;
  height: 2.5rem;
  width: 75vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-track {
  position: absolute;
  top: 0.62rem;
  left: 0.5rem;
  width: 97%;
  height: 0.75rem;
  background-color: rgb(170, 170, 170);
  z-index: -1;
}

.complete-track {
  height: inherit;
  background-color: #0aa286;
}

.progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  border: 4px solid rgb(170, 170, 170);
  border-radius: 100%;
}

.active-step {
  background: #0aa286;
  border: 4px solid #0aa286;
}

.incomplete-step {
  animation: pulse 2s infinite;
}

.complete-icon {
  fill: white;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #0aa28646;
  }
  70% {
    box-shadow: 0 0 0 20px rgba(33, 131, 221, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0);
  }
}
